<%- include('partials/header.ejs') %>

<h1>Book Notes</h1>
        <form action="/" method="get">
            <input type="text" name="title" id="bookSearch" placeholder="Search for books...">
            <ul id="suggestionsList"></ul>
            <button type="submit">Search</button>
        </form>
        
        <% if (hasNotes) { %>
            <div>
                <% bookNotes.forEach(note => { %>
                    <div>
                        <h2><%= note.title %></h2>
                        <h5><%= note.author %></h5>
                        <p><%= note.notes %></p>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p>No book notes have been added yet.</p>
        <% } %>


<%- include('partials/footer.ejs') %>