<%- include('partials/header.ejs') %>

<form action="/new" method="get">
  <div class="search-container">
    <input
      type="text"
      name="title"
      id="bookSearch"
      placeholder="Search for books..."
    />
    <ul id="suggestionsList"></ul>
  </div>
  <button type="submit">Add Notes</button>
</form>

<% if (hasNotes) { %>
<div>
  <% bookNotes.forEach(note => { %>
  <div>
    <h2><%= note.title %></h2>
    <h5>By <%= note.author %></h5>
    <h6>Review:</h6>
    <p><%= note.notes %></p>
    <p>Rating: <%= note.rating %>/5</p>
  </div>
  <% }) %>
</div>
<% } else { %>
<p>No book notes have been added yet.</p>
<% } %> <%- include('partials/footer.ejs') %>
